<%= fields_for @user do |f|%>
  <%= render :partial => 'template/form_errors', :object => @user %>

  <div class="panel panel-default">
    <div class="panel-heading">User Details</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Correo</label>
            <%= f.text_field :email, :class => "form-control", :placeholder => "Correo" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Nombre</label>
            <%= f.text_field :username, :class => "form-control", :placeholder => "Nombre" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Contraseña</label>
            <%= f.text_field :password, :class => "form-control", :placeholder => "Contraseña", :type => "password" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Contraseña</label>
            <%= f.text_field :password, :class => "form-control", :placeholder => "Contraseña", :type => "password" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% unless @user.id.blank? || @user.id == 1 %>
    <div class="panel panel-default">
      <div class="panel-heading">Permisos</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="checkbox">
              <label>
                <%= f.check_box :can_update_configuration %>
                Cambiar informacion de la tienda
              </label>
            </div>
            <div class="checkbox">
              <label>
                <%= f.check_box :can_update_users %>
                Modificar usuarios
              </label>
            </div>
            <div class="checkbox">
              <label>
                <%= f.check_box :can_update_items %>
                Modificar Artículos
              </label>
            </div>
            <div class="checkbox">
              <label>
                <%= f.check_box :can_view_reports %>
                Ver reportes
              </label>
            </div>
            <!-- <div class="checkbox">
              <label>
                <%= f.check_box :can_update_sale_discount %>
                Can give discounts
              </label>
            </div> -->
            <div class="checkbox">
              <label>
                <%= f.check_box :can_remove_sales %>
                Eliminar Ventas
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>



  <div class="row">
  <div class="col-sm-12">
    <%= f.submit 'Crear Usuario', :class => "btn btn-success btn-lg" %>
  </div>
</div>
<% end %>
