
<%= form_for(@purchaseorder) do |f| %>
  <% if @purchaseorder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchaseorder.errors.count, "error") %> prohibited this purchaseorder from being saved:</h2>

      <ul>
      <% @purchaseorder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
 <%  @items.each do |tag| %>
    <div>
     
      <%= text_field_tag 'tag_ids[]', tag.id =%> 

      <%= tag.name %>
    </div>
    <% end %>

  </div>

<table class="table table-striped table-bordered table-hover">

  <thead>
    <tr>

      <th  style="width: 100px" >ID</th>
      <th>Nombre</th>
      <th>stock</th>
      <th>reemplazar</th>
      <th> entrada</th>
     <th style="width: 70px" > check</th>

 
    </tr>
  </thead>

<h1> hola munod <%=  @purchaseorder.id%> 
  <tbody>
     <%    @linei.each do |tag| %>
      <tr> 
       

 
        <td style="width: 100px"  ><%= tag.id %></td>
        <td > <%= Item.find(tag.item).name %></td>
        <td > <%= (tem = Stock.where(:store_configuration => current_user.store_configuration , :item =>Item.find(tag.item)).first).quantity  %>
        </td>

       <td > <%= (tem = Stock.where(:store_configuration => current_user.store_configuration , :item =>Item.find(tag.item)).first).rank %> fin</td>
       <td ><%= text_field_tag 'entrada_ids[]', tag.quantity =%> </td>
       <td style="width: 70px">   <%= check_box_tag 'tag_ids[]', tag.id =%>  </td>

          
         
      </tr>
   <% end %>
  </tbody>
</table>



  
  

  
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
