

 <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>fecha</th>
      <th>Pedido de </th>
      <th>Estado</th>
      <th>Tienda</th>
    
      <th></th>
 
    </tr>
  </thead>

  <tbody>
    <% @purchaseorders.each do |purchaseorder| %>
      <tr> 
         <td class="info"><%= purchaseorder.created_at.strftime("%d %b. %Y") %></td>
        <td > <%=  User.find( purchaseorder.user_id).username%></td>

          
          <% if purchaseorder.committed %>
           <td class="success">
          <%= "NO Entregado"; %>

          <% else %>
              <td class="danger">
         <%= "Entregado"; %>
       
          <% end %>
     

       <td> <%= purchaseorder.store_configuration.store_name%> </td>
        <td><%= link_to 'Show', purchaseorder %>
        <%= link_to 'Edit', edit_purchaseorder_path(purchaseorder) %>
        <%= link_to 'Destroy', purchaseorder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchaseorder', new_purchaseorder_path %>
