<!DOCTYPE html>

<html lang="es" class="sb-init" ng-app="estilista">

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <meta charset="utf-8">

      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="robots" content="noindex">
      <meta name="googlebot" content="noindex">
      <title><%= @configurations.store_name.blank? ? "Punto de Venta" : @configurations.store_name %></title>
      <meta name="description" content="<%= @configurations.store_description.blank? ? "Punto de Venta" : @configurations.store_description %>">
      <meta name="viewport" content ="width=device-width; initial-scale=1.0;">

      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true   %>

		  <%= csrf_meta_tags %>

    </head>
    
    <body data-no-turbolink>
    	<% if user_signed_in? %>
    		<%= render :partial => 'template/menu' %>
    	<% end %>

    	<div class="pos_wrapper">
    		<%= render :partial => 'template/alerts' %>
        
        <% if user_signed_in? %>
          <%= render :partial => 'template/breadcrumbs' %>
        <% end %>

				<%= yield %>

        <% if user_signed_in? %>
          <%= render :partial => 'template/footer' %>
        <% end %>
			</div>


      <%= javascript_include_tag :application, "data-turbolinks-track" => false %>
      <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-route.min.js"></script>
      <script src="/sales_controller.js"></script>

        <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src='//assets.codepen.io/assets/common/stopExecutionOnTimeout.js?t=1'></script>
<script src='http://parall.ax/parallax/js/jspdf.js'></script>



  
      

  

      

      <%= yield :javascript %>
    </body>
</html>
